robotframework==6.1.1
robotframework-requests==0.9.7
robotframework-sapguilibrary==1.1
robotframework-seleniumlibrary==6.6.1
robotframework-seleniumtestability==2.1.0
rpaframework==28.6.3
rpaframework-core==11.3.3
rpaframework-pdf==7.3.3
rpaframework-windows==7.5.2
selenium==4.15.2
webdriver-manager==4.0.2


